<!DOCTYPE html>
<html>
<head>
    <title>eLearning App</title>
    </head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            {% if user.is_student %}
                <p>You are a student.</p>
            {% elif user.is_teacher %}
                <p>You are a teacher.</p>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register_student' %}">Register as Student</a> | <a href="{% url 'register_teacher' %}">Register as Teacher</a></p>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>