{% extends 'base.html' %}

{% block content %}
    <h2>{{ course.name }}</h2>
    <p>{{ course.description }}</p>

    <ul>
    {% if user.is_authenticated and user.elearnuser.user_type == 'student' and user.elearnuser in enrolled_students %}
        <h3>Submit Feedback</h3>
        <form method="post" action="{% url 'submit_feedback' course.id %}"> 
            {% csrf_token %}
            {{ feedback_form.as_p }}
            <button type="submit">Submit Feedback</button>
        </form>
    {% endif %}
    </ul>

    {% if user.is_authenticated and user.elearnuser.user_type == 'teacher' and course.teacher == user.elearnuser %}
        <a href="{% url 'edit_course' course.id %}">Edit Course</a> | 
        <a href="{% url 'delete_course' course.id %}" onclick="return confirm('Are you sure you want to delete this course?')">Delete Course</a> | 
        {% if course.enrollment_status == 'open' %}
            <a href="{% url 'close_enrollment' course.id %}" onclick="return confirm('Are you sure you want to close enrollment for this course?')">Close Enrollment</a>
        {% else %} 
            <a href="{% url 'open_enrollment' course.id %}" onclick="return confirm('Are you sure you want to reopen enrollment for this course?')">Reopen Enrollment</a> 
        {% endif %}
        | <a href="{% url 'add_material' course.id %}">Add Material</a> 
    {% elif user.is_authenticated and user.elearnuser.user_type == 'student' and user.elearnuser in enrolled_students %}
        <a href="{% url 'add_material' course.id %}">Add Material</a> 
    {% endif %}

    <h3>Materials</h3>
    <ul>
        {% for material in materials %}
            <li>
                <a href="{{ material.file.url }}">{{ material.name }}</a> - {{ material.description }}
                {% if user.is_authenticated and material.uploader == user.elearnuser %} 
                    | <a href="{% url 'edit_material' course.id material.id %}">Edit</a> | 
                    <a href="{% url 'delete_material' course.id material.id %}" onclick="return confirm('Are you sure you want to delete this material?')">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h3>Enrolled Students</h3>
    <ul>
        {% for student in enrolled_students %}
            <li>{{ student.user.first_name }} {{ student.user.last_name }}</li> 
        {% endfor %}
    </ul>
    <h3>Feedback for this Course</h3>
    <ul>
        {% for feedback in course.feedback_set.all %}
            <li>
                Student: {{ feedback.student.user.username }}<br>
                Rating: {{ feedback.rating }}<br>
                Comment: {{ feedback.comment }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'course_list' %}">All Courses</a> 
{% endblock %}