{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Login</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                <input type="text" name="username" id="{{ form.username.id_for_label }}" class="form-control" value="{{ form.username.value|default_if_none:'' }}">
                {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
            
            <div class="form-group mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                <input type="password" name="password" id="{{ form.password.id_for_label }}" class="form-control">
                {% if form.password.errors %}
                    <div class="invalid-feedback">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
